$color-white: #fff;
$color-black: #000;
$color-1: #3dd0d8;
$color-2: #c2d4f8;
$color-3: #1e1d32;
$color-4: #292845;
$color-5: #5c9ddd;
$color-6: #7c69e3;
$color-7: #00b4d6;
$color-8: #68dde3;
$color-9: #f9a450;
$color-10: #181728;
$gradient: linear-gradient(to right, $color-1 0%, rgba(146, 82, 234, 0.64) 100%);